.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 26px 16px;
  border-radius: 10px;
  background-color: var(--color-white);
}

@media (--sm-min-value) {
  .header {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
      "caption aside aside .";
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header__caption {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xxl);
  font-weight: var(--fw-black);
  grid-area: caption;
  color: var(--color-dark);
}

.header__aside {
  grid-area: aside;
}
