.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 26px 16px;
  border-radius: 10px;
  background-color: var(--color-white);
}

@media (--sm-min-value) {
  .header {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
      "caption aside aside .";
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header__caption {
  grid-area: caption;
  text-align: center;
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xxl);
  font-weight: var(--fw-black);
  color: var(--color-dark);
}

@media (--sm-min-value) {
  .header__caption {
    text-align: left;
  }
}

.header__aside {
  grid-area: aside;
}
